In [1]:
'hi'

'hi'

In [2]:
99

99

In [3]:
''' semmandalam
cuddalore
tamilnadu'''

' semmandalam\ncuddalore\ntamilnadu'

In [4]:
'1067'

'1067'

In [5]:
'10'+'56'

'1056'

In [6]:
name='lalanthika'

In [7]:
name

'lalanthika'

In [9]:
name='lalanthika'
city='cuddalore'

In [10]:
10+20

30

In [11]:
print(name)
print(city)

lalanthika
cuddalore

In [12]:
school='abc international school'
city='chennai'

In [13]:
print(school)
print(city)

abc international school
chennai

In [1]:
a=int(input('enter the a value'))
b=int(input('enter the b value'))
c=a+b

In [2]:
c

35

In [3]:
print('a is',a)
print('b is',b)
print('c is',c)

a is 10
b is 25
c is 35

In [4]:
a=int('10')

In [5]:
input('enter any number')

'7'

In [11]:
input('enter any word')

'imewnputin'

In [27]:
firstname=input('enter the firstname')
lastname=input('enter the lastname')

In [33]:
print(firstname ,lastname)

lala l;ala

In [30]:
x=100
name='lala'

In [31]:
x

100

In [32]:
name

'lala'

In [35]:
print('MR')
name=input('enter name')
print (name)

MR
sid

In [36]:
firstname=input('enter the firstname')
lastname=input('enter the lastname')

In [37]:
print(firstname,lastname)

mew lala

In [5]:
x=input('enter number1')
y=input('enter number2')
z=x+y
print (z)

1010

In [7]:
x=input('enter number1')
y=input('enter number2')
z=int(x)+int(y)
print(z)

20

In [9]:
name='lala'
age=17
gender='female'
print(f'name is:(name)\nage is:(age)\ngender is:(gender)')

name is:(name)
age is:(age)
gender is:(gender)

In [16]:
name='anu'
course='java'
experience='5 years'
age=30
print('name is:{}\ncourse is:{}\nexperience is:{}\nage is:{}'.format(name,course,experience,age))

name is:anu
course is:java
experience is:5 years
age is:30

In [15]:
married=True
married

True

In [17]:
type(married)

bool

In [18]:
married=False
married

False

In [19]:
type(married)

bool

In [20]:
x=0
x

0

In [21]:
type(x)

int

In [22]:
x=''
x

''

In [23]:
x=0.00
x

0.0

In [25]:
x=None
x

In [26]:
x=False
x

False

In [28]:
x=0
type(x)

int

In [29]:
y=0.9
type(y)

float

In [30]:
z=False
type(z)

bool

In [31]:
a='hi'
type(a)

str

In [32]:
z=None
type(z)

NoneType

In [42]:
a=8
b=4
print('a+b=',a+b)
print('a-b=',a-b)
print('a*b=',a*b)
print('a/b=',a/b)
print('a//b=',a//b)
print('a**b=',a**b)
print('a%b=',a%b)

a+b= 12
a-b= 4
a*b= 32
a/b= 2.0
a//b= 2
a**b= 4096
a%b= 0

In [44]:
number1=input('enter number1')
number2=input('enter number2')
total=number1+number2
print(total)

1010

In [47]:
print('hi\n''welcome')

hi
welcome

In [49]:
print(''' hi 
welcome''')

 hi
welcome

In [52]:
x=74
y=45
z=x+y
z
type(z)

int

In [53]:
5+6

11

In [59]:
5.8
9.6+4
7.9+9.7
z=8/9
z
round(z,3)

0.889

In [60]:
z='10.5'
z=float(z)
z

10.5

In [61]:
z='10'
z=int(z)
z

10

In [2]:
value = 2*1+1-(2*5);
print (value)

-7

In [28]:
value = (2*(1+1)-2)*5;
print(value)

10

In [29]:
import math

In [30]:
math.factorial(10)

3628800

In [31]:
math.sqrt(169)

13.0

In [32]:
math.pi

3.141592653589793

In [33]:
math.e

2.718281828459045

In [34]:
degree = 45

In [35]:
radians = math.radians(degree)
radians

0.7853981633974483

In [36]:
math.sin(radians)

0.7071067811865475

In [37]:
math.cos(radians)

0.7071067811865476

In [38]:
math.tan(radians)

0.9999999999999999

In [39]:
circles = 45
radius = 58
price = 65
pi = 3.14
area = pi*radius**2
total_area = area * circles
total_price_01 = total_area * price
total_price_01

30896658.000000004

In [40]:

circles = 45
radius = 58
price = 65
pi = math.pi
area = pi*radius**2
total_area = area * circles
total_price_01 = total_area * price
total_price_01

30912329.23352749

In [6]:
year=1988
if year%4==0:
     print('it is a leap year')
else:
    print('it is not a leap year')

it is a leap year

In [8]:
a=12
if a>0:
     print('it is positive')
if a<0:
    print  ('it is negative')
if a==0:
    print ('it is zero')

it is positive

In [9]:
a=0
if a>0:
     print('it is positive')
elif  a<0:
    print  ('it is negative')
else:
    print ('it is zero')

it is zero

In [15]:
age=int(input(age))
print ('eligible') if age>10 else print('not eligible')

not eligible

In [16]:
state=input('enter the state')

In [17]:
match state :
    case'tn':
        print('show tamil movies')
    case'kerala':
        print('show malayalam movies')
    case _:
        print('show english movies')

show tamil movies

In [18]:
dress = input('how is my dress? good or bad?:')
hairdo= input('what about my hairdo?good or bad?:')

In [19]:
if dress == 'good' and hairdo == 'good':
    print('you look awesome')
else:
    print('better and okay')

you look awesome

In [20]:
school = input('how was your school? good or okay?:')
tution = input('how was your tution? enjoyed or not enjoyed?:')

In [22]:
if school == 'good' or tution == 'enjoyed':
      print('lovely day')
else: 
      print('bad day')

bad day

In [32]:
z=[10,20,30,40.45,50,55]
type(z)
z

[10, 20, 30, 40.45, 50, 55]

In [35]:
y=[1,2,3,4]
type(y)
y

[1, 2, 3, 4]

In [36]:
y.append(6)
y

[1, 2, 3, 4, 6]

In [37]:
y.insert(0,0)
y

[0, 1, 2, 3, 4, 6]

In [44]:
y.remove(1)

In [45]:
y

[2, 3, 4, 6]

In [46]:
y.pop()

6

In [47]:
y

[2, 3, 4]

In [49]:
y.index(2)

0

In [50]:
y.count(2)

1

In [52]:
max(y)

4

In [53]:
min(y)

2

In [54]:
sum(y)

9

In [55]:
y.sort()

In [56]:
y

[2, 3, 4]

In [57]:
y.reverse()

In [58]:
y

[4, 3, 2]

In [1]:
SNACKS = ('CHIPS','CHOCOLATE','JUICE','COTTANCANDY','ICECREAMS','PUFFS')

In [3]:
type(SNACKS)

tuple

In [5]:
SNACKS

('CHIPS', 'CHOCOLATE', 'JUICE', 'COTTANCANDY', 'ICECREAMS', 'PUFFS')

In [8]:
SNACKS.index('JUICE')

2

In [9]:
SNACKS.count('PUFFS')

1

In [10]:
len(SNACKS)

6

In [11]:
x1={1,2,3,4,6,7}
x2={4,5,6,7,8,9}

In [12]:
x1.union(x2)

{1, 2, 3, 4, 5, 6, 7, 8, 9}

In [13]:
x2.intersection(x1)

{4, 6, 7}

In [14]:
x1.difference(x2)

{1, 2, 3}

In [15]:
x2.difference(x1)

{5, 8, 9}

In [16]:
x = 6
y = 6
x == y

True

In [17]:
x = 8 
y = 9
x == y

False

In [18]:
x = 9 
y = 7

In [19]:
x != y

True

In [20]:
x <=y

False

In [21]:
x>=y

True

In [22]:
x<y

False

In [23]:
x>y

True

In [25]:
z = 'lala'

In [28]:
'a' in z

True

In [29]:
'm' in z

False

In [30]:
server=input('do you need desserts?yes or no:')

In [32]:
if server == 'no':
    print('no problem mam')

no problem mam

In [33]:
if server:
    print('thanks')

thanks

In [3]:
favourite_dish =   {'anu':'dosa','ragul':'sweetpongal','mew':'fishcurry','lakshi':'biriyani'}

In [4]:
favourite_dish

{'anu': 'dosa',
 'ragul': 'sweetpongal',
 'mew': 'fishcurry',
 'lakshi': 'biriyani'}

In [6]:
employee = {}

In [9]:
employee[1] = 'lala'
employee[2] = 'lakshi'
employee[3] = 'saru'

In [10]:
employee

{1: 'lala', 2: 'lakshi', 3: 'saru'}

In [11]:
employee.pop(1)
employee

{2: 'lakshi', 3: 'saru'}

In [13]:
employee[3]

'saru'

In [14]:
employee[3] = 'vinci'

In [15]:
employee

{2: 'lakshi', 3: 'vinci'}

In [16]:
employee.keys()

dict_keys([2, 3])

In [17]:
employee.values()

dict_values(['lakshi', 'vinci'])

In [18]:
2 in employee

True

In [19]:
3 in employee.keys()

True

In [21]:
'vinci' in employee.values()

True

In [22]:
len(employee)

2

In [23]:
employee.get(3)

'vinci'

In [24]:
friends = ['anu', 'raj', 'kani','kavi','nick']
friends

['anu', 'raj', 'kani', 'kavi', 'nick']

In [25]:
for besties in friends:
    print(besties)

anu
raj
kani
kavi
nick

In [26]:
line = 'imperfectly perfect'

In [27]:
for quote in line:
    print(quote)

i
m
p
e
r
f
e
c
t
l
y

p
e
r
f
e
c
t

In [28]:
numbers = range(6)
numbers

range(0, 6)

In [29]:
for number in numbers:
    print(number)

0
1
2
3
4
5

In [30]:
numbers = range(8,19)
numbers

range(8, 19)

In [31]:
for number in numbers:
    print(number)

8
9
10
11
12
13
14
15
16
17
18

In [32]:
numbers = range(8,19,3)
numbers

range(8, 19, 3)

In [33]:
for number in numbers:
    print(number)

8
11
14
17

In [34]:
subjects = ['tamil','english','mathematics','science','social']

In [35]:
for item in subjects:
    print(item)

tamil
english
mathematics
science
social

In [27]:
for r in range(1,4):
    for c in range(1,r):
        print (c,c+1,end='')
    print()

1 2
1 22 3